footer {
  background-color: rgb(46, 5, 67);
  border-top: 5px solid rgba(63, 63, 63, 0.522);
}

footer a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

ul a {
  text-decoration: none;
}

ul.HCSfoot {
  text-align: center;
}

footer p {
  color: white;
  text-align: center;
}
:root {
  margin: 0;
}
